@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.one{
 background-color:hsl(163, 95%, 57%);
 background-repeat: none;
}

.two{
    background: linear-gradient(30deg,#ff8dac,#ff8dac);
    width:100%;
    transform: skewY(-11deg);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration:wavy;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-left:15px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .bar4, .bar5{
    width: 100px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    text-align: center;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .menu{
      padding:20px 5px 5px 20px;
      margin-left: 40px;
      margin-right: 40px;
      color:black;
      font-family: 'Encode Sans SC', sans-serif;
  }

  .menu2{
    padding:20px 5px 5px 20px;
    margin-left: 40px;
    margin-right: 40px;
    color:black;
    font-family: 'Encode Sans SC', sans-serif;
}

  a:link{
    color: black !important;
  background-color: transparent !important;
        text-decoration:none !important;
    }
    
    a:visited{
        text-decoration:none !important;
        color:black !important;
    }
    a:hover{
        text-decoration:none !important;
        color:#ff8dac !important;
    }
    a:active{
        text-decoration:none !important;
        color:#ff8dac !important;
    }
    

span{
    padding:10px 15px 15px 10px;
    font-size:20px;
    color:black;
    font-weight: bold;
    letter-spacing: .4em;
}

#myName{
    font-family: 'Sacramento', cursive;
    font-size: 80px !important;
    font-weight: 30px;
    letter-spacing:0px;
    text-align: center !important;
    padding-left:15px;
    padding-right:15px;
}

.bottom{
    background-color:black;
    background-repeat: none;
    width:100%;
    transform: skewY(-20 deg);
    padding-top:0px;
    padding-bottom:0px;
    position:relative;
    align-items:justify;
    padding-left:60px;
    padding-right:60px;
   }

   .oc{
       background-color:black;
       position:relative;
   }

   .image{
       width:30%;
       height: 30%;
       border-style: solid;
       padding-left: 40px;
       padding-top:top;
       border-width: 0px;
       display:inline;
       align-items:center;
   }

   .text1{
    margin-left: 40px;
    margin-right: 40px;
    color:black;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 20px;
    text-align: center; 
   }

   .text2{
    color:white;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    font-weight: 40px;
    text-align: center; 
   }

   .text{
    color:black;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 20px;
    text-align: center; 
    position:sticky;
   }

   .text::before{
    color:black;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: 30px;
    text-align: center;
    content:"Student";
    animation: text-change 5s infinite;
   }

   .hw{
    color:white;
    text-align:center;
    font-family: 'Qahiri', sans-serif;
    font-size: 90px;
    font-weight: 30px;
    text-align: center;
    display:block;
   }
    
    #hid{
      display:inline;
    }

   .anim{
    animation: color-change 3s infinite;
   }


  @keyframes color-change {
    0% { color: #333; }
    100% { color:black; }
  }

  @keyframes text-change{
    20% {content:"CODER";}
     40% {content:"BLOGGER";}
     60% {content:"PAINTER";}
      80% {content:"DEVELOPER";}
  }

  .pt{
 color:hsl(163, 95%, 57%);
 font-size: 1.6875em;
    text-align:center;
    line-height: 1;
    margin: 0;
      font-family: 'Encode Sans SC', sans-serif;
      letter-spacing: 3px;
  }

  .wt{
    color:white;
    font-size: 20px;
       padding-left: .2em;
       text-align:left;
       line-height: 1;
       margin: 0;
      font-family: 'Encode Sans SC', sans-serif;
         letter-spacing: 3px;
     }


  strike{
      color:hsl(163, 95%, 57%);
  }

  .h{
    font-family: GraphikPanic,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:30px;
    margin: 0;
    line-height: 2.3em;
    position: relative;
    color:black;
    font-weight:bold;
    text-align: center;
    letter-spacing: .4em;
  }

  .h:hover{
    color:white;
  }

  .shape{      
      width:20px;
      height:20px;
      shape-outside: inset(20px 5px 30px 10px);
      background: rgb(217, 243, 237);
      align-items: center;
      position: relative!important;
      display: inline-block!important;
      box-sizing: border-box;
      transition: transform .1s ease-in-out;
      border-radius: 2px;
  }

  .shape:hover{
    animation: move 5s;
  }

  @keyframes move{
    20% {transform: rotate(360deg);}
   40% {transform: rotate(360deg);}
  }

 .gen{
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:20px;
  font-weight:bold;
  word-spacing:2px;
  text-align:justify;
  letter-spacing: 0.5px;
  padding-right:5px;
 }

 .cat{
   width:10%;
   height:10%;
   display:flex;
 }

 i{
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid hsl(163, 95%, 57%);
  padding: 10px;
  text-align: center;
  align-items: center;
}

i:hover{
  color:#ff8dac;
}

.ic:hover{
     color:#ff8dac;
}

.star{
  animation: star-color-change 3s infinite;
 }

@keyframes star-color-change {
  0% { color: white; }
  50% { color: white; }
  100% { color:hsl(163, 95%, 57%); }
}

.img{
  height:30em;
  width:23em;
  border-style: solid;
  border-width: 5px;
  border-color: hsl(163, 95%, 57%);
  padding-left:25px;
  padding-top:25px;
  background-color: hsl(163, 95%, 57%);
  position:relative;
}

.img:hover{
  padding-left:15px;
  padding-top:15px;
}

.resume{
  padding:0.5em 0.4em;
  color:black;
  border-style:solid;
  border-color:black;
  border-width:0.5em;
  font-size:1em;
  font-family:'Encode Sans SC', sans-serif;
  font-weight:bold;
  background-color:azure;
  border-radius:3em;
  padding-left:10em;
  padding-right:10em;
  margin-left:35em;
  margin-right:35em;
  margin-bottom:5em;
}

.resume1{
  padding:0.3em 0.2em;
  background-color:azure;
}

.resume:hover{
  color:hsl(163, 95%, 57%) !important;
  border-color:azure !important;
  background-color:black !important;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: azure;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: azure;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

/*About*/
.ab{
   font-size: 30px;
     padding-left: .2em;
     text-align:left;
     line-height: 1;
     margin: 0;
    /* font-family: sans-serif;*/
    font-family: 'Encode Sans SC', sans-serif;
       letter-spacing: 5px;
       color:black; 
       text-align:center;
       font-weight: bold;       
   }

   .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.topnav{
  visibility:hidden;
}

.row{
padding-left:55px;
padding-right:55px;
}

.grid{
  color:white !important;
  background-color: black;
  font-family: 'Encode Sans SC', sans-serif;
  font-size:20px;
  font-weight:bold;
  word-spacing:4px;
  text-align:justify;
  letter-spacing: 2px;
  border-radius: 4%;
  padding:25px 25px 25px 25px;
}

.wgrid{
  color:hsl(163, 95%, 57%) !important;
  background-color:black;
  font-family: 'Encode Sans SC', sans-serif;
  font-size:15px;
  font-weight:bold;
  word-spacing:4px;
  text-align:justify;
  letter-spacing: 2px;
  border-radius:2%;
 border-style:solid;
 border-width:5px;
 border-color:hsl(163, 95%, 57%);
 border-radius: 5%;
 padding-top:15px !important;
}

.exp{
  color:hsl(163, 95%, 57%) !important;
  background-color:black;
  font-family: 'Encode Sans SC', sans-serif;
  font-size:15px;
  font-weight:bold;
  word-spacing:4px;
  text-align:center;
  letter-spacing: 2px;
  border-radius:2%;
 border-style:solid;
 border-width:5px;
 border-color:azure;
 border-radius: 5%;
 height:20em;
 width:65em;
 padding-bottom:20px;
}

.roundImage{
  width:100px;
  height:100px;
  border-radius:50%;
  position:absolute;
  left:0px;
  top:0px;
  float:left;
  border-style: solid;
  border-width:5px;
  border-color:black;
}

.achText{
  float:right;
  text-align:right;
  padding-left:35px;
}

/*Contact*/
 .mail{
  margin: 0 0 1.15em;
  color: #faedf1;
  font-size:23px;
  font-family: 'Encode Sans SC', sans-serif;
  font-weight:bold;
  word-spacing:4px;
  text-align:center;
 }

 .icon{
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid black;
  font-size: 25px;
  font-weight: 10px;
  letter-spacing:0px;
  text-align: center;
 }

 .logo{
   height:6em;
   width:6em;
   margin-left:10px;
   margin-right:10px;
   margin-top:20px;
 }


.icon:hover{
  color:#ff8dac;
}


.icon:hover{
  animation: ic 5s;
}

@keyframes ic{
  20% {transform: rotate(360deg);}
 40% {transform: rotate(360deg);}
}

.cards{
  color:black !important;
  background-color:white;
  font-family:sans-serif;
  font-size:25px;
  font-weight:bold;
  word-spacing:4px;
  text-align:center;
  letter-spacing: 2px;
 border-radius: 5%;
 padding-top:15px !important;
 margin-left:10px;
 margin-right:10px;
}



.summary{
  font-family: 'Encode Sans SC', sans-serif;
  font-size:20px;
  margin: 0;
  position: relative;
  color:black;
  font-weight:bold;
  text-align: center !important;
  letter-spacing: .1em;
}


.center{
  margin-left:24em;
  margin-right:24em;
  text-align:center;
}



@media (max-width:576px) {
  .bottom{
  display:none;
}

.mb{
  display:none;
}

.img{
    height:20em;
    width:18em;
}

.ab{
  font-size: 25px;
}

.gen{
  font-size:20px;
  padding:2px,2px,2px,2px;
  text-align:justify;
  
}

  .hw{

  display:none;
  }

  #square{
    visibility:hidden;
      }

  #hid{
    
    visibility:hidden;
  }

#myName{
  font-size: 50px !important;
  font-weight: 15px;
}

.cat{
 visibility:hidden;
 display:none;
}

.text .text2{
  padding-top:0px !important;
}

.topnav{
  visibility:visible;
}

.roundImage{
visibility:hidden;
}

.wgrid{
 padding:25px 25px 25px 25px!important;
 margin-top:25px !important;
 margin-bottom:25px;
float:none;
}

.center{
  margin-left:2.1em;
  margin-right:2.1em;
  text-align:center;
}


.exp{
  font-weight:bold;
  word-spacing:1px;
  text-align:center;
  letter-spacing: 1px;
 height:10em;
 width:20em;
 padding-bottom:10px;
}

.achText{
  float:none;
  padding-top:15px;
  text-align:center;
  padding-left:0px;
}

.grid{
  text-align:center;
}

.menu2{
display:none;
}

.resume{
  padding-left:10em;
  padding-right:10em;
  margin-left:2em;
  margin-right:2em;
  margin-bottom:5em;
}

}